@import "./styles/styles.scss";

.Details {
  .TeaserImage {
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
      height: 50vh;
      width: 100%;
      object-fit: cover;
    }
  }

  .DetailedInfo {
    padding: 5%;
    width: calc(100vw - 10%);
    display: flex;

    .TextInfo {
      width: 50%;
      bottom: 0;
      left: 0;
      flex: 50%;

      #details_header {
        margin: 20px 0 20px 0;
        #details_recipe_name {
          font-family: $primaryFont;
          padding-right: 20px;
        }

        #details_duration {
          font-family: $primaryFont;
          display: flex;

          svg {
            padding-right: 5px;
          }
        }
      }

      button {
        color: $primaryColor;
        padding-left: 0;
      }

      .Ingredients {
        h4 {
          margin: 0;
        }

        div {
          display: flex;

          span {
            width: 100px;
          }
        }
      }

      .Instructions {
        padding-right: 30px;
        ol {
          padding-inline-start: 0;
          list-style-position: inside;

          li {
            padding-bottom: 10px;
          }
        }
      }
    }

    .FullImage {
      flex: 50%;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .DetailedInfo {
      display: block;

      .TextInfo {
        width: 100%;
      }

      .FullImage {
        img {
          width: 100%;
        }
      }
    }
  }
}
