@import "./styles/styles.scss";

.Details {

  .TeaserImage {
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

    Img {
      height: 50vh;
      width: 100%;
      object-fit: cover;
    }
  }

  .DetailedInfo {
    padding: 5%;
    width: calc(100vw - 10%);
    display: table;
    position: relative;
    overflow: auto;

    .TextInfo {
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      display: table-column;
      overflow: hidden;
      min-width: 300px;

      .Header {
        background: rgba(255, 255, 255, 0.5);
        height: 10%;
        justify-content: center;
        align-items: center;
        padding: 10px;
        display: flex;

        .HeaderContent {
          margin: 5px;
          width: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      Button {
        color: $primaryColor;
        padding-left: 0;
      }

      .Ingredients {
        h4 {
          margin: 0;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
        }
      }
    }

    .FullImage {
      float: right;
      display: table-column;

      Img {
        width: 100%;
        object-fit: cover;
      }
    }

    @media screen and (max-width: 360px) {
      .TextInfo {
        float: left;
        min-width: 100%;
      }
      .FullImage {
        float: left;
      }
    }
  }
}
