@import "./styles/styles.scss";

.Details {
  padding: 5%;
}

.Ingredients {
  h4 {
    margin: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.Instructions {
  p {

  }
}
