@import "./styles/styles.scss";

.FilterCategory {
  .MuiToggleButton-root {
    border-radius: 24px;
    border: 0px;
    background-color: white;
    height: 40px;
    padding: 0 40px 0 40px;

    .MuiToggleButton-label {
      font-family: $secondaryFont;
      text-transform: none;
      color: black;
    }
  }

  .MuiToggleButton-root:hover {
    border-radius: 24px;
    border: 0px;
    background-color: white;
    height: 40px;
    padding: 0 40px 0 40px;

    .MuiToggleButton-label {
      font-family: $secondaryFont;
      text-transform: none;
      color: black;
    }
  }

  @media screen and (min-width: 1024px) {
    .MuiToggleButton-root:hover {
      background-color: $primaryColor;

      .MuiToggleButton-label {
        color: white;
      }
    }
  }

  .MuiToggleButton-root.Mui-selected {
    background-color: $primaryColor;

    .MuiToggleButton-label {
      color: white;
    }
  }

  .MuiToggleButton-root.Mui-selected:hover {
    background-color: $primaryColorDarker;

    .MuiToggleButton-label {
      color: white;
    }
  }
}
