@import "./styles/styles.scss";

.Footer {
  background-color: $primaryColor;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;

  p {
    color: white;
    margin-top: 30px;
  }

  a,
  a:link {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

  a:active {
    text-decoration: none;
  }
}
