@import './styles/styles.scss';

.Header {
    background-color: $tertiaryColor;

    .MuiBox-root {
        margin: 0;
    }

    #logo {
        width: 130px;
    }

    #slogan {
        font-family: $primaryFont;
        font-size: 16pt;
        color: white;
        margin: 0 0 20px 0;
    }
}