@import "./styles/styles.scss";

.Tags {
  max-width: 600px;
  .MuiInputBase-root {
    background-color: white;
    border-radius: 24px;
    padding: 0 0 0 5px;
  }

  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 0 10px 0 10px;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 0px;
    border-radius: 24px;
    height: 50px;
  }

  .MuiChip-root {
    background-color: $primaryColor;
    color: white;
    position: relative;

    .MuiSvgIcon-root {
      fill: white;
    }

    .MuiChip-label {
      font-family: $secondaryFont;
    }
  }

  .MuiInputBase-input {
    font-family: $secondaryFont;
  }

  .MuiIconButton-root {
    background-color: transparent;
  }
}
